    .header {
        height:82px;
        display: flex;
        justify-content: space-between;
        margin-right: 35px;
    }

    .header__left-link {
        text-decoration: none;
    }

    .header__center-list,
    .header__right-list {
        list-style: none;
        padding-left: 0;
    }

    .header__center-items {
        margin: 18px 13px ;
    }

    .beginnerzone {
        color: rgb(33, 195, 151);
        background: rgba(45, 189, 150, 0.12);
        margin: 0px;
        padding: 8px 10px;
        border-radius: 10px;
    }

    .beginnerzone:hover {
        color: rgb(33, 195, 151);
    }

    .header__center-items--menu {
        position: relative;
    }
    
    .header__center-items--menu2 {
        position: relative;
    }


    .header__center-items--menu-show:hover .header__menu {
        display: flex;
    }

    .header__center-items--menu2-show:hover .header__menu2 {
        display: flex;
    }
    .header__right-items {
        position: relative;
        margin: 5px 4px;
    }


    .header__center-items,
    .header__right-items {
        display: inline-block;
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: 350;
    }

    .header__right-items-link {
        display: inline-block;
        text-decoration: none;
        font-weight: 350;
    }

    .header__center-items:hover,
    .header__right-items:hover,
    .header__right-items-link:hover
    {
        color: rgba(0,0,0, 0.6);
        cursor: pointer;
    }

    .header__right-button-login:hover
    {
        color: rgba(46, 189, 150, 0.6);
        cursor: pointer;
    }

    .header__right-button-signup:hover
    {
        background-color: rgba(46, 189, 150, 0.6);;
        cursor: pointer;
    }

    .header__right-button-login {
        color: rgb(46 189 150);
        background-color: white;
        border-color: rgb(46 189 150);
        border-width: 1px;
        padding: 10px 20px;
        border-radius: 5px;
        text-transform: none;
    }

    .header__right-button-signup {
        color: rgb(252, 252, 252);
        background-color: rgb(46 189 150) ;
        border-color: rgb(46 189 150);
        border-width: 1px;
        padding: 10px 20px;
        border-radius: 5px;
        text-transform: none;	
    }

    .imglogo {
        width: 120px;
        height: 70px;
        margin-left: 20px;
    }


    .fa-caret-down {
        color: rgb(114, 116, 118)
    }

    .fa-earth-americas {
        color: rgb(90, 87, 87);
    }

    .fa-earth-americas:hover  {
        color: rgba(90, 87, 87, 0.7);

    }

    .fa-download {
        color: rgb(82, 79, 79);
    }

    .fa-download:hover {
        color: rgba(90, 87, 87, 0.7);
    }

    .header__menu {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 400px;
        background-color: rgb(255, 255, 255);
        box-shadow: 1px 1px rgb(232, 230, 230);
        display: flex;
        cursor: default;
        border-radius: 3px;
        transform-origin: top left ;
        animation: headerMenuShow ease-in 0.3s;
        box-shadow: 0cm;
        justify-content: space-between;
        display: none;
    }


    .header__menu-part1 {
        display: flex;

    }

    .header__menu-part2
    {
        display: flex;
    }

    .header__menu-list {
        padding-left: 0px;
    }

    .header__menu-items {
        list-style: none;
    }

    .header__menu-link {
        display: flex;
        text-decoration: none;
        width: 100%;
        padding: 12px;
    }

    .header__menu-link:hover {
        background-color: rgb(244, 244, 244);

    }


    .header__menu-img {
        object-fit: contain;
    }

    .header__menu-info {
        margin-left: 12px;
    }

    .header__menu-name
    {
        display: block;
        font-size: 14px;
        color: black;
        font-weight: 400;
        margin-bottom: 7px;
        font-family: 'Roboto', sans-serif;
    }

    .header__menu-description
    {
        display: block;
        font-size: 11px;
        color: rgb(148, 145, 145);
        font-family:'Roboto', sans-serif;
        font-weight: 300;
    }

    
    .header__menu2 {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 400px;
        background-color: rgb(255, 255, 255);
        box-shadow: 1px 1px rgb(232, 230, 230);
        display: flex;
        cursor: default;
        border-radius: 3px;
        transform-origin: top left;
        animation: headerMenuShow ease-in 0.3s;
        box-shadow: 0cm;
        justify-content: space-between;
        display: none;
    }

    .header__menu2-short {
        width: 170px;
    }

.header__center-items:hover .header__menu2 {
        display: flex;
}
    .header__menu2-list {
        list-style: none;
        display: block;
        padding-left: 0px;
    }

    .header__menu2-items:hover {
        background-color: rgb(244, 244, 244);
    }

    .header__menu2-link {
        text-decoration: none;
        width: 100%;
        padding: 12px;
        display: flex;
        height: inherit;
    }

    .header__menu2-info {
        margin-left: 12px;
    }

    .header__menu2-name {
        display: block;
        font-size: 14px;
        color: black;
        font-weight: 400;
        margin-bottom: 7px;
        font-family: 'Roboto', sans-serif;
    }

    .header__menu2-description {
        display: block;
        font-size: 11px;
        color: rgb(148, 145, 145);
        font-family:'Roboto', sans-serif;
        font-weight: 300;        
    }

    .header__menu2-img {
        object-fit: contain;
    }

    .container__1 {
        background-image: url(https://assets.staticimg.com/public-web/2.5.3/static/bg-logo.c9dd9d5b.svg);
        width: 100%;
        height: 425px;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between
    }

    .container__1-left
    {
        margin-left: 20px;
        width: 1200px;
        display: block;
    }


    .container__1-h1-css {
        color: black;
        font-family:'Roboto', sans-serif;
        font-size: xx-large;
        display: flex;
    }

    .container__1-h2-css2 {
        color: rgb(52, 51, 51);
        font-family:'Roboto', sans-serif;
        font-size: large; 
        font-weight: 300;  
    }

    .divOnly {
        display: block;
        margin-bottom: 60px;
        height: 100px;
        width: 700px;
    }

    .container__1-signup {
        height: 50px;
        width: 150px;
        background-color: rgb(46 189 150);
        margin-left: 8px;
        margin-top: 50px;
        border-radius: 5px;
        color: white;
        text-align: center;
    }

    .container__123 {
        height: 6px;
    }

    .container__1-signup-h2 {
        font-size: large;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin-top: 8px;
    }

    .container__1-signup:hover {
        cursor: pointer;
    }

    .container__1-bottom-p {
        margin-left: 10px;
        font-size: medium;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: rgb(81, 81, 81);
    }

    .container__1-right {
        background-image: url(https://assets.staticimg.com/public-web/2.5.3/static/phone.1a4f2053.svg);
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        display: flex;
        margin-left: 15%;
        margin-top: 5%;
    }

    .downloadApp {
        color: black;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin-top: 100px;
        margin-left: 100px;
    }

    .container__1-right--smartphone-list-qr {
        list-style: none;
        display: flex;
        margin-top: 80px;
        padding-left: 40px;
        
    }
    
    .container__1-right--smartphone-div-qr-show:hover .container__1-right-qr {
        display: block;
        position: relative;
    }

    .container__1-right--smartphone-div-qr {
        height: 70px;
        width: 70px;
        background-color: #ffffff;
        margin-right: 15px;
        justify-content: space-between;
        border-radius: 5px;
    }
    
    .container__1-right-qr {
        height: 250px;
        width: 250px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        left: -105px;
        top :-465%;
        border-radius: 8px;
        display: none;
    }

    .container__1-right-qr:hover {
        cursor:default;
    }

    .container__1-right-qr::before {
        content: "";
        border: 8px solid;
        border-color: rgb(255, 255, 255) transparent transparent transparent;
        position: absolute;
        right: 100px;
        top: 250px;

    }

    .container__1-right--smartphone-items-qr:hover {
        cursor: pointer;
        
        
    }



    .container__1-right--smartphone-img {
        margin-left: 8px;
        margin-top: 8px;
    }


    .header__qr-img {
        height: 200px;
        width: 200px;
        position: absolute;
        left: 25px;
        top:10%;
    }


.container__2 {
    height: 250;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
} 

.container__2-top {
    display: flex;
    justify-content: space-between;
} 

.container__2-top-left {
    display: flex;
    margin-left: 25px;
} 

.container__2-top-left--h2-1,
.container__2-top-left--h2-2,
.container__2-top-left--h2-3,
.container__2-top-right--h2-1,
.container__2-top-right--h2-2,
.container__2-top-right--h2-3,
.container__2-top-right--h2-4
{
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 300;
    margin-right: 20px;
} 


.container__2-top-left--stick,
.container__2-top-right--stick-1,
.container__2-top-right--stick-2,
.container__2-top-right--stick-3
{
    height: 14px;
    background-color: black;
    width: 1px;
    margin-top: 14px;
    margin-right: 20px;
} 

.container__2-top-right {
    display: flex;
    margin-right: 35px;
} 

.container__2-bottom {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 35px;
    
}

.container__2-bottom-img {
    height: 160px;
    width: 280px;
}

.container__2-bottom-img:hover {
    cursor: pointer;
}


.container__3 {
    height: 540px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: block;
}

.container__3-top {
    display: flex;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.container__3-top--h1 {
        color: black;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        margin-left: 30px;
}

.container__3-top--h1-1 {
    font-weight: 400;
    border-bottom: 2px solid rgb(46, 189, 150); 
    padding-bottom: 6px;
    font-family: 'Roboto', sans-serif;
}

.container__3-top--h1:hover  {
    cursor: pointer;
    font-weight: 400;
    border-bottom: 2px solid rgb(46, 189, 150); 
    padding-bottom: 6px;
}

.container__3-mid {
    width: 100%;
    height: 360px;
    margin-top: 40px;
    display: block;
    
}



.container__3-mid--table-img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 5px;
}

table {
    width: 100%;
}

.container__3-mid--table {
    background-color: rgb(255, 255, 255);
    color: black;
}

.container__3-bottom {
    height: 60px;
    margin-top: 100px;
    width: 100%;
    position: relative;
}

.container__3-bottom-2div {
    display: flex;
    text-align: center;
    position: absolute;
    top: 10%;
    right: 37%;
}

.container__3-bottom-div1{
    margin-right:40px;
}

.container__3-bottom-span {
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(46, 189, 150);
}

.container__3-bottom-span:hover {
    cursor: pointer;
}

.container__4 {
    width: 100%;
    background: rgb(247, 248, 250);
    height: 310px;
    position: relative;
}

.container__4-h1 {
    position: absolute;
    right: 35%;
    top: 10%;
    font-size: xx-large;
    font-weight: 400;
}

.container__4-bottom {
    display: flex;
    justify-content: space-between;
}

.container__4-bottom-left {
    margin-left: 200px;
    margin-top: 140px;
}

.container__4-bottom-right {
    margin-right: 150px;
    margin-top: 140px;
}

.dot {
    height: 60px;
    width: 60px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position: relative;
    box-shadow: 1px 1px 1px 1px rgb(174, 172, 172);
  }

  .dot-green {
    background-color: rgb(46, 189, 150);
  }

  .dot-white {
    background-color: #ffffff;
  }

  .h1-dot-green-1 {
    position: absolute;
    top: 10%;
    left: 40%;
    color:white
  }
  
  .h1-dot-green-2 {
    position: absolute;
    top: 10%;
    left: 40%;
    color: #727272;
  }

 
.connect{
    background-color: #4f4e4e;
    height: 1px;
    width: 745px;
    position: absolute;
    top:55%;
    left:20.5%
}

.createkucoin{
    margin-top: 30px;
    margin-left: -70px;
    font-weight: 300;
    font-size: large;
}

.acreatekucoin{
    color: black;
}

.buycoin {
    text-decoration: none;
    color: #565555;
}

.createkucoin:hover {
    cursor: pointer;
}

.h1-table {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: medium;
    margin: 0px;
}

table thead th {
    text-align: center;
}

table tbody tr td {
    text-align: center;
}

.col5 {
    display: flex;
    width: 85px;
}

.h1-table--col5 {
    margin-right: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: medium;
    background-color:rgb(46, 189, 150) ;
    padding: 12px 20px;
    border-radius: 8px;  
    text-align: right; 
}

.h1-table--col5:hover {
    cursor: pointer;
}

.first-row {
    color: rgb(155, 155, 155);
}

.imgcoin {
    display: flex;

}

.h1-table-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: medium;
    margin-left: 10px;
    width: 25px;
}

.chart {
    height: 50px;
}

table tr:hover {
    background-color: rgb(252, 249, 249);
}

.footer__top {
    height: 110px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.h1-table--up {
    color: rgb(46, 189, 150);
}

.h1-table--down {
    color: red;
}

.footer__top-img {
    width: 160px;
    height: 40px;
    margin-left: 35px;
    margin-top: 45px;
}

.brand-footer {
    width:30px;
    height:30px;
    margin-bottom: 10px;
    font-size: large;
    color: #514f4f;
}

.brand-footer:hover {
    margin-top: -40px;
    cursor: pointer;
    background-color: #ffffff;
}

table .footer__table-tr:hover{
    background-color:#ffffff;
}

.brand__footer-tr:hover {
    background-color: #ffffff;
}

.footer__table_td {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-top: 1px;
    color: #514f4f;
}

.footer__table_td:hover {
    cursor: pointer;
}

.td-class {
    margin-top: 0;
    height: 20px;
    text-align: center;
}
